@model IEnumerable<sports.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_of_candidate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_of_game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type_of_game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
               Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_of_candidate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_of_game)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_of_game)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach_name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
            <td >
                <a asp-action="Edit" asp-route-id="@item.Id" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
