@model IEnumerable<MVC_Course_Enrollment_Student.Models.Enrollment >
<h1 class="text-center"><i class=" text-success"></i> Enrollment List</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.EnrollmentId)</th>
            <th>@Html.DisplayNameFor(model=>model.DateOfEnrollment)</th>
            <th>@Html.DisplayNameFor(model=>model.Student.First_Name)</th>
            <th>@Html.DisplayNameFor(model=>model.Student.Last_Name)</th>
            <th>@Html.DisplayNameFor(model=>model.Course.Course_Name)</th>

            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Enrollment",null,Context.Request.Scheme)','New Enrollment')" class="btn btn-success text-white"><i class="fas fa-random"></i>New Enrollment</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model=>item.EnrollmentId)</td>
                <td>@Html.DisplayFor(model=>item.DateOfEnrollment)</td>
                <td>@Html.DisplayFor(model=>item.Student.First_Name)</td>
                <td>@Html.DisplayFor(model=>item.Student.Last_Name)</td>
                <td>@Html.DisplayFor(model=>item.Course.Course_Name)</td>

                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Enrollment",new {id=item.EnrollmentId},Context.Request.Scheme)','Update Student')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.EnrollmentId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>